[submodule "Drivers/libvoltbro"]
	path = Drivers/libvoltbro
	url = https://github.com/VBCores/libvoltbro.git
[submodule "Drivers/libcxxcanard"]
	path = Drivers/libcxxcanard
	url = https://github.com/VBCores/libcxxcanard.git
